main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(../images/bg.png);
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #37477096;
    width: 100%;
    max-width: 800px;
    padding: 15px;
    margin: 0 0 20px;
    border-radius: 8px;

    font-size: 0.9em;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.card {
    aspect-ratio: 3/4;
    width: 100%;
    background-color: rgb(87, 87, 87);
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    transition: all 400ms ease;
}

.front {
    transform: rotateY(180deg);
}

.back {
    background-image: url('/images/back.jpg');
    backface-visibility: hidden;
}

.reveal-card {
    transform: rotateY(180deg);
}

.disabled-card {
    filter: saturate(0);
    opacity: 0.5;
}